<div class="container">
  <h2>Delphi Data</h2>
  <p>Smoking in adults by age from 1984-Present:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Year</th>
        <th>Gender</th>
        <th>Percentage</th>
        <th>Respondents</th>
      </tr>
    </thead>
    <tbody id="delphi-table">
    </tbody>
  </table>
</div>
